@import '../../colors.scss';

.notificationViewer {
    display: flex;
    flex-direction: column;

    width: 250px;
    position: absolute;
    right: 10px;
}

.notificationViewer__message {
    padding: 10px;
    background: $color-purple-800;
    color: $color-white;
    font-size: 12px;
    overflow: hidden;
}

.notificationViewer__message + .notificationViewer__message {
    margin-top: 10px;
}

.notificationViewer__message_type_error {
    background: $color-red-800;
}

.notificationViewer__message_type_info {
}
