{{ define "base" }}
<!DOCTYPE html>
<meta charset="utf8" />
<title>{{ .Title }}</title>
<link rel="stylesheet" href="/assets/base.css">
<h1>Hello, {{ .user }}!</h1>
<main class="content">{{ template "main" . }}</main>
{{ end }}
